/* sutta central line order fixes */
#segmented_text_content .reference {
    grid-row: -1;

}

sc-navigation-linden-leaves {
    background-color: rgb(64, 60, 60);
    display: block;
    font-family: "Skolar Sans PE Variable", "Noto Sans", sans-serif, "Noto Sans", "Source Sans Pro", sans-serif;
    height: 48px;
    position: relative;
    transform: none;
    width: vw;
    z-index: 200;
}

sc-navigation-linden-leaves a {
    color: #fff;
}

.breadcrumbs-wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    box-sizing: border-box;
    height: 48px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 8px;
    padding-right: 0px;
    scroll-snap-type: x mandatory;
}

.home-link svg,
.breadcrumbs-wrapper a {
    fill: white;
    color: white;
}

#segmented_text_content .root {
    grid-row: 2;
    grid-column: 2;
}


/*menu stuffs */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


:root {
    --lightgrey: #ccc;
    --darkgrey: #999;
    --black: #000;
    --padding-sm: 10px;
}

body {
    background: orange;
    font-family: 'Noto Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
    color: var(--black);
}

.sc-custommenu {
    background: #fff;
    max-width: 450px;
    box-shadow: 2px 1px 10px #222;
    padding: 5px 10px;
    height: calc(100vh - 4rem);
    height: 100vh;
    overflow-y: scroll;
    font-size: 18px;
}

aside {
    grid-area: sidebar;
}

.scc-search {
    /*    border-bottom: 1px solid rgba(0,0,0,.05);*/
    padding-bottom: var(--padding-sm);
    padding-top: var(--padding-sm);
}

.scc-links {
    line-height: 125%;
    border-bottom: 1px solid;
    border-color: var(--lightgrey);
}

.scc-links a {
    text-decoration: none;
    color: #000;
    width: 100%;
}

.scc-links span {
    font-size: 70%;
    position: relative;
    display: block;
    top: 1px;
    margin-left: 1ex;
    color: var(--darkgrey);
    text-transform: uppercase;
}

.scc-links .level2 .btn[aria-expanded=true] {
    font-weight: 900;
}

li.has-child>.btn::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    /*    content: "+";*/
    left: -5px;
    position: relative;
    /* margin-left: 1em; */
    font-size: 10pt;
    line-height: 18px;
    font-weight: 100;
    width: 20px;
    height: 20px;
    color: #999;
    /*    border: 1px solid #999;*/
    padding: 0;
    text-align: center;
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
}

li.has-child .btn[aria-expanded=true]::before {
    /*    content: "-";*/
    /*    transform: rotate(180deg);*/
    transform: rotate(90deg);
}

.text-language {
    border-top: 1px solid #ccc;
    width: 100%;
    font-family: "Skolar PE Variable", "Noto Serif", "Skolar Sans PE", "Noto Sans", serif;
}

.text-language button {
    font-size: 18pt;
    border-top: 1px solid rgba(0, 0, 0, .05);
    width: 100%;
    font-weight: 100;
    /*    text-transform: uppercase;*/

}

.text-type {
    margin-left: 1em;
    font-family: 'Noto Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;

}

.text-type a.btn {
    font-size: 14pt;
    font-weight: 600;
    padding-top: var(--padding-sm);
    padding-bottom: 0;
}

.text-group li {
    margin-left: 10px;

}

.scc-links .btn {
    padding: .25rem .5rem;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0;
}

.scc-links .leve2 .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
}

.scc-links .level2 {
    margin-left: var(--padding-sm);
}

.scc-links .level2 .btn {
    padding: 0;
    text-align: left;
    font-weight: 400;
    line-height: 125%;
    padding-left: var(--padding-sm);
    padding-top: var(--padding-sm);
}

.scc-links .level2 .btn::before {
    /*    content:none;*/
}


.scc-links .level3 span {
    width: 2.5em;
    display: inline-block;
    font-size: 100%;
}

.scc-links .level2 a {
    color: #333;
}

.scc-links .level3 li,
.scc-links .level3 li a {
    font-weight: 100;
    line-height: 150%;
    font-size: 16px;
}

.scc-links .level3 li.vagga,
.scc-links .level3 li.vagga span {
    font-size: 14px;
    color: var(--darkgrey);
    top: 0;
}

.vagga {
    /*    display: none;*/
}