:root {
    --lightgrey: #ccc;
    --darkgrey: #888;
    --black: #000;
    --darkbrown: #9e6f04;
    --lightyellow: rgba(259, 188, 25, 0.6);
    --padding-sm: 10px;
}

.instant-lookup-box {
    padding: 8px;
    border: 1px solid #ccc;
    width: 200px;
    outline: none;
    box-shadow: inset 0 0 0 1px transparent;
    /* Add box-shadow for inset effect */
    transition: box-shadow 0.2s ease;
}

.instant-lookup-box:focus {
    box-shadow: inset 0 0 0 2px var(--sc-primary-accent-color);
    border-color: var(--sc-primary-accent-color);
}


/* Optimized Bootstrap CSS based on the provided HTML */

/* Accordion styles */

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem !important;
    ;
    font-size: 20px;
    color: #212529;
    text-align: left;
    background-color: whitesmoke;
    border: 0;
    border-radius: 0;
    height: auto;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
    .accordion-button {
        transition: none;
    }
}

button.accordion-button:not(.collapsed) {
    color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
    background-image: linear-gradient(to top, var(--sc-primary-color-dark) 75%, var(--sc-primary-color-dark)) !important;
}

button.accordion-button:not(.collapsed):hover {
    background-image: linear-gradient(to top, var(--sc-primary-color) 75%, var(--sc-primary-color-dark)) !important;
}


.second button.accordion-button:not(.collapsed) {
    background-color: var(--sc-primary-color-light-transparent);
    background-image: none !important;
}

.second button.accordion-button:not(.collapsed):hover {
    background-color: var(--sc-primary-color-light-transparent) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    transform: rotate(-180deg);
}

.second button.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}




.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    margin-right: 10px;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .accordion-button::after {
        transition: none;
    }
}

.accordion-button:hover {
    z-index: 2;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    color: #000;
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-item:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.accordion-item:not(:first-of-type) {
    border-top: 0;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion-body {
    padding: 1rem 1.25rem;
}

.accordion-flush .accordion-collapse {
    border-width: 0;
}

.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.accordion-flush .accordion-item:first-child {
    border-top: 0;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 0;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
}


.accordion-button {
    color: black;
    /* Example color */
    border: none;
    /* Example border */
}

.accordion-button:not(.collapsed) {
    color: #fff;
    /* Color for expanded state */
    background-color: var(--sc-primary-color);
    /* Background color for expanded state */
    border: none;
}

.accordion-button:not(.collapsed)::after {}

.accordion-header {
    display: flex;
    /* Flex display for header alignment */
}

/* Button styles */

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn {
    display: inline-flex;
    /* Flex display for button alignment */
    align-items: center;
    /* Center items in button */
    padding: 0.375rem 0.75rem;
    /* Padding for button */
    border: 1px solid transparent;
    /* Border for button */

}

.list-unstyled {
    padding-left: 0;
    /* No padding for lists */
    list-style-type: none;
    /* Remove bullet points */
}

.collapse {
    display: none;
    /* Hide collapsed elements */
}

.collapse.show {
    display: block;
    /* Show expanded elements */
}

.collapse:not(.show) {
    display: none;
}


@media (prefers-reduced-motion: reduce) {
    .collapsing {
        transition: none;
    }
}






/*menu stuffs */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.sc-custommenu button {
    padding: inherit;
}


.sc-custommenu {
    background: whitesmoke;
    width: 575px;
    box-shadow: 2px 2px 30px rgba(20, 20, 20, 0.5);
    padding: 0;
    min-height: 33vh;
    max-height: calc(100vh - 75px);
    overflow-y: auto;
    font-size: 16px;
    border-radius: 0 0px 10px 0;
    color: var(--darkgrey);
    font-family: var(--sc-sans-font);
    margin: 0;
    overflow-x: hidden;
    font-family: var(--sc-sans-font);
}

.sc-custommenu a {
    color: var(--sc-primary-color);
}


aside {
    grid-area: sidebar;
}

.scc-search {
    padding-bottom: var(--padding-sm);
    padding-top: var(--padding-sm);
}

.scc-links {
    line-height: 125%;
    border-bottom: 1px solid;
    border-color: var(--lightgrey);
    text-align: left;
    background-color: rgb(255, 251, 255);
}

.scc-links a {
    text-decoration: none;
    color: #000;
    position: relative;
    border-radius: 0;
    padding-top: 5px;
    padding-left: 0;
}

.scc-links .second li button {
    padding-left: 0;
    padding-right: 0;
}



.scc-links li button:hover,
.scc-links li a:hover {
    text-decoration: none;
    transition: opacity 0.3s;
    color: black;
    background-color: var(--sc-primary-color-light-transparent);
    text-shadow: none;
}





.expander {
    margin-left: 1px;
    padding-top: var(--padding-sm);
    position: relative;
    width: 7%;
}



chapterid {
    margin-right: 5px;
    width: 75px;
    padding-left: 15px;


}

translation {
    min-width: 40%;
    display: inline-block;
    line-height: 22px;
    padding-left: 0px;
    padding-right: 0;
}


root {
    margin-left: 1ex;
    min-width: 35%;
    display: block;
}

root,
chapterid {
    font-size: 80%;

    position: relative;
    display: inline-block;
    color: var(--darkgrey);
    text-transform: uppercase;
    vertical-align: baseline;
    line-height: 22px;
    padding-left: 0;
    font-weight: 600;
    letter-spacing: 0.3008px
}

.scc-links .fourth root {
    font-size: 12px;
}

.text-language button {
    font-size: 28px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    width: 100%;
    font-weight: 400;

}


button[aria-expanded=false] {
    /*    background: transparent;*/
}

.btn-check:focus+.btn,
.btn:focus,
scc-links a:focus {
    outline: none;
    box-shadow: 0 0 0 .25rem rgb(253 184 13 / 25%);
    background-color: var(--sc-primary-color-light-transparent);
    color: black;
    /*box-shadow: none;*/
}


.btn[aria-expanded=true] {
    color: var(--sc-primary-color);
}



.first {
    border-top: 1px solid #ccc;
    width: 100%;
    background-color: #fff;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 98%, rgba(250, 250, 250, 1));
    color: var(--darkgrey);
    font-size: var(--sc-font-size-xl);
    font-weight: 400;
    font-variation-settings:
        "wdth" 125;
}

.first li {
    border-bottom: var(--lightgrey) 1px solid;
}

aside.sc-custommenu .first button.btn {
    font-family: var(--sc-serif-font);
}

aside.sc-custommenu ul.second button.btn,
ul.third a.btn {
    font-family: var(--sc-sans-font);
}

.scc-links .second li:last-of-type {
    border-bottom: none;
    padding-bottom: 10px;
    background-image: linear-gradient(rgba(64, 62, 62, 0.2), rgba(255, 255, 255, 0) 0.46%);
}

.second {
    color: rgb(33, 20, 0);
    padding-left: 0;
    font-family: var(--sc-sans-font);
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom: 1px solid var(--lightgrey);
    background-color: var(--sc-secondary-background-color);
    font-weight: 400;
}

.second li,
.second li button {
    font-size: var(--sc-font-size-l);
    line-height: 25px;
    font-weight: 300;
    color: rgb(33, 20, 0);
}

.second li:last-of-type {
    padding-bottom: 10px;
}

.second root {
    line-height: 25px;
}


.second a {

    padding-bottom: 0;
    padding-left: 5px;
}

.scc-links .first .btn[aria-expanded=true] {
    font-weight: 700;
    color: #fff;
}

.scc-links .second .btn[aria-expanded=true] {
    color: var(--darkbrown);
}

.scc-links .second .btn[aria-expanded=true]:hover,
.scc-links .second .btn[aria-expanded=true]:focus {
    color: black;
    background-color: var(--sc-primary-color-light-transparent);
}

.third {
    display: block;
    position: relative;
    border-top: 1px solid var(--darkgrey);
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--darkgrey);
    box-shadow: 0 3px 3px -2px inset rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99%, rgba(0, 0, 0, 0.2));
}



.third li {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    background-color: var(--sc-tertiary-background-color);
    padding-left: 0px;
    padding-bottom: 5px;
}

.third li:hover {
    border-bottom: 1px solid #fff;
    background-color: var(--sc-primary-color-light-transparent);
}

.third a {
    padding-top: 0;
    padding-bottom: 0;
    color: #333;
}

.third li>button.expander {
    margin-left: 15px;
}


.fourth {
    padding-bottom: 12px;
    background-color: var(--sc-secondary-background-color);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    margin-left: -20px;
    padding-left: 19px;

}

.fourth li {
    background-color: var(--sc-secondary-background-color);
}

.fourth li,
.fourth li a {
    font-size: 16px;
    font-weight: 500;
}

.fourth a {
    padding: 5px;
    padding-left: 20px;
}

.fifth {
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    background-color: white;
    margin: 10px 0 0 -16px;
    padding-left: 20px;
    border-bottom: 2px solid var(--darkgrey);
    background-image: linear-gradient(rgba(64, 62, 62, 0.2), rgba(255, 255, 255, 0.6) 0.46%);
}

.scc-links .fifth a.btn {
    font-size: 10pt;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 15% 40% 45%;
}

.fifth li {
    padding: 5px 5px;
}

.fifth li:hover {
    box-shadow: inset -1px -1px 5px rgb(107 77 77 / 50%);
    border-bottom-color: #999;
}


.text-group li {
    padding-left: 10px;

}

.scc-links .btn {
    padding-top: .5rem;
    padding-bottom: .25rem;
    border: 0;
    text-align: left;
    border-radius: 0;
    width: 100%;
}

.scc-links button.btn {
    padding-top: .5rem !important;
    ;
    padding-bottom: .25rem !important;
    ;
}

.scc-links .second .btn {
    display: inline-grid;
    grid-template-columns: 8fr 7fr 1fr 1fr;
}

.scc-links .third .btn {
    width: calc(100% - 40px);
    display: inline-grid;
    grid-template-columns: 15% 40% 40% 5%;
}

.scc-links .fourth .btn {
    width: calc(100% - 40px);
    display: inline-block;
    grid-template-columns: 13% 40% 40% 7%;
}

.scc-links li a:nth-of-type(2) {
    display: inline-block;
    /*padding: .25rem 0;*/
    border: 0;
    width: calc(100% - 2em);
    text-align: left;
    margin-left: -16px;
}




.text-language button .expander,
.expander {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    font-size: 10px;
    width: 18px;
    height: 18px;
    padding: 9px !important;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 35px;
    background-color: transparent !important;
    border: none;
    overflow: hidden;
    box-shadow: none !important;
    cursor: pointer;
}

.expander:hover {
    background-color: whitesmoke !important;
}

.expander[aria-expanded=false] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 3h18v18H3zM12 8v8m-4-4h8'/%3E%3C/svg%3E") !important;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 35px;
}

.expander[aria-expanded=true] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3e%3cpath fill='none' stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 3h18v18H3zM8 12h8'/%3e%3c/svg%3e") !important;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 35px;
}




span.info {
    display: inline-block;
    width: 14px;
    position: relative;
    min-width: 20px;
}

.info:before {
    content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='16' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='8' x2='12.01' y2='8'%3E%3C/line%3E%3C/svg%3E");
    display: inline-block;
    width: 18px;
    height: 18px;
}

.info blurb,
blurb {
    visibility: hidden;
    width: 450px;
    background-color: rgb(85 85 85 / 96%);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 155%;
    left: 70%;
    margin-left: -440px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 100;
    text-shadow: none;
    box-shadow: 2px 2px 30px rgb(85 85 85 / 90%);
}

/* Tooltip arrow */
.info blurb::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(85 85 85 / 87%) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.info:hover blurb {
    visibility: visible;
    opacity: 1;
    color: white;
    text-shadow: none;
    z-index: 99999999999;
}