:root {
    --lightgrey: #ccc;
    --darkgrey: #888;
    --black: #000;
    --darkbrown: #9e6f04;
    --ochre: #c68b05;

    --padding-sm: 10px;

}

/* fonts fonts fonts */

/* 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap'); 

*/

/* Optimized Bootstrap CSS based on the provided HTML */

/* Accordion styles */

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
    .accordion-button {
        transition: none;
    }
}



button.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: var(--ochre) !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 75%, rgba(127, 82, 21, 0.4)) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .accordion-button::after {
        transition: none;
    }
}

.accordion-button:hover {
    z-index: 2;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-item:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.accordion-item:not(:first-of-type) {
    border-top: 0;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion-body {
    padding: 1rem 1.25rem;
}

.accordion-flush .accordion-collapse {
    border-width: 0;
}

.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.accordion-flush .accordion-item:first-child {
    border-top: 0;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 0;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
}


.accordion-button {
    color: var(--ochre);
    /* Example color */

    border: none;
    /* Example border */
}

.accordion-button:not(.collapsed) {
    color: #fff;
    /* Color for expanded state */
    background-color: var(--ochre);
    /* Background color for expanded state */
    border: none;
}

.accordion-button:not(.collapsed)::after {
    background-color: var(--ochre);
}

.accordion-header {
    display: flex;
    /* Flex display for header alignment */
}

/* Button styles */

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn {
    display: inline-flex;
    /* Flex display for button alignment */
    align-items: center;
    /* Center items in button */
    padding: 0.375rem 0.75rem;
    /* Padding for button */
    border: 1px solid transparent;
    /* Border for button */

}

.list-unstyled {
    padding-left: 0;
    /* No padding for lists */
    list-style-type: none;
    /* Remove bullet points */
}

.collapse {
    display: none;
    /* Hide collapsed elements */
}

.collapse.show {
    display: block;
    /* Show expanded elements */
}

.collapse:not(.show) {
    display: none;
}


@media (prefers-reduced-motion: reduce) {
    .collapsing {
        transition: none;
    }
}






/*menu stuffs */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}






.sc-custommenu {
    background: whitesmoke;
    width: 575px;
    box-shadow: 2px 2px 30px rgba(20, 20, 20, 0.5);
    padding: 0;
    min-height: 33vh;
    max-height: calc(100vh - 75px);
    overflow-y: auto;
    font-size: 16px;
    border-radius: 0 0px 10px 0;
    color: var(--darkgrey);
    font-family: "Skolar Sans PE Variable", "Noto Sans", sans-serif;
    margin: 0;
}

.sc-custommenu a {
    color: var(--ochre);
}


aside {
    grid-area: sidebar;
}

.scc-search {
    padding-bottom: var(--padding-sm);
    padding-top: var(--padding-sm);
}

.scc-links {
    line-height: 125%;
    border-bottom: 1px solid;
    border-color: var(--lightgrey);
    text-align: left;
    background-color: rgb(255, 251, 255);
}

.scc-links a {
    text-decoration: none;
    color: #000;
    position: relative;
    border-radius: 0;
    padding-top: 5px;
    padding-left: 0;
}

.scc-links .second li a {
    padding-left: 0;
    padding-right: 0;
}



.scc-links li a:hover {

    text-shadow: 1px 2px 1px white;
    text-decoration: none;

}

.scc-links li button:hover,
.scc-links li a:hover {
    color: var(--darkbrown);
}




.expander {
    margin-left: 1px;
    padding-top: var(--padding-sm);
    position: relative;
}



chapterid {
    margin-right: 5px;
    width: 75px;
    padding-left: 2px;


}

translation {
    width: 38%;
    display: inline-block;
    line-height: 22px;
    padding-left: 5px;
}

.third translation {
    padding-left: 0;
}

root {
    margin-left: 1ex;
    width: 38%;
    display: block;
}

root,
chapterid {
    font-size: 80%;
    position: relative;
    display: inline-block;
    color: var(--darkgrey);
    text-transform: uppercase;
    vertical-align: baseline;
    line-height: 22px
}

.scc-links .fourth root {
    font-size: 12px;
}






.text-language button {
    font-size: 28px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    width: 100%;
    font-weight: 400;
    padding-left: var(--padding-sm);
}


button[aria-expanded=false] {
    /*    background: transparent;*/
}

.btn-check:focus+.btn,
.btn:focus,
scc-links a:focus {
    outline: none;
    /*    box-shadow:0 0 0 .25rem rgb(253 184 13 / 25%);*/
    box-shadow: none;
}


.btn[aria-expanded=true] {
    color: var(--ochre);
}

button.accordion-button.btn[aria-expanded=true]:hover {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 75%, rgba(127, 82, 21, 0.4));
}


.first {
    border-top: 1px solid #ccc;
    width: 100%;
    font-family: "Noto Serif", serif;
    background-color: #fff;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 98%, rgba(250, 250, 250, 1));
    color: var(--darkgrey);
    font-size: 28px;
    font-weight: 400;
    font-variation-settings:
        "wdth" 125;
}

.first li {
    border-bottom: var(--lightgrey) 1px solid;

}

aside.sc-custommenu .first button.btn {
    font-family: "Noto Serif", serif;
}

.second a.btn {
    font-family: "Skolar Sans PE Variable", "Noto sans", sans-serif;
}

.scc-links .second li:last-of-type {
    border-bottom: none;
    padding-bottom: 10px;
    background-image: linear-gradient(rgba(64, 62, 62, 0.2), rgba(255, 255, 255, 0) 0.46%);
}

.second {
    color: #000;
    padding-left: 0;
    font-family: 'Noto Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
    padding-bottom: 10px;
    padding-top: 0px;
    border-bottom: 1px solid var(--lightgrey);
    background-color: rgba(223, 215, 205, .3);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 95%, rgba(0, 0, 0, 0.2));
    font-weight: 400;
}

.second li,
.second li a {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
}

.second root {
    line-height: 25px;
}

.second li {
    padding: 5px 0;
}

.second a {

    padding-bottom: 0;
    padding-left: 5px;
}

.scc-links .first .btn[aria-expanded=true] {
    font-weight: 700;
    color: #fff;
}

.scc-links .second .btn[aria-expanded=true] {
    color: var(--darkbrown);
}


.third {
    display: block;
    position: relative;
    border-top: 1px solid var(--darkgrey);
    width: 100%;
    padding: 0 15px;
    padding-right: 0;
    border-bottom: 1px solid var(--darkgrey);
    box-shadow: 0 3px 3px -2px inset rgba(0, 0, 0, 0.4);
    background-color: rgba(233, 225, 205, .6) !important;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99%, rgba(0, 0, 0, 0.2));
    ;
}

.third li:hover {
    border-bottom: 1px solid #fff;
}

.third li,
.third li a {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

.third a {
    padding-top: 0;
    padding-bottom: 0;
    color: #333;
}

.fourth {
    padding-bottom: 12px;
    background-color: rgba(250, 250, 250, 0.4);
    background-image: linear-gradient(rgba(64, 62, 62, 0.2), rgba(255, 255, 255, 0.6) 0.46%);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    margin-left: -20px;
    padding-left: 22px;

}

.fourth li,
.fourth li a {
    font-size: 16px;
    font-weight: 500;
}

.fourth a {
    padding: 5px 0;
}

.fifth {
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    background-color: white;
    margin: 10px 0 0 -16px;
    padding-left: 20px;
    border-bottom: 2px solid var(--darkgrey);
    background-image: linear-gradient(rgba(64, 62, 62, 0.2), rgba(255, 255, 255, 0.6) 0.46%);
}

.fifth a {
    font-size: 10pt;
    width: 100%;
}

.fifth li {
    padding: 5px 5px;
}

.fifth li:hover {
    box-shadow: inset -1px -1px 5px rgb(107 77 77 / 50%);
    border-bottom-color: #999;
}


.text-group li {
    padding-left: 10px;

}

.scc-links .btn {
    padding-top: .25rem;
    padding-bottom: .25rem;
    border: 0;
    text-align: left;
    border-radius: 0;
    width: 100%;
}

.scc-links .third .btn {
    width: calc(100% - 8px);
}

.scc-links li a:nth-of-type(2) {
    display: inline-block;
    /*padding: .25rem 0;*/
    border: 0;
    width: calc(100% - 2em);
    text-align: left;
    margin-left: -16px;
}



.expander {
    right: 14px;
    top: 5px;
    vertical-align: top;
}


.expander[aria-expanded=false] {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3e%3cpath fill='none' stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 4h17v17H3zM12 8v8m-4-4h8'/%3e%3c/svg%3e");
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 1px;
}

.expander[aria-expanded=true] {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3e%3cpath fill='none' stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 3h18v18H3zM8 12h8'/%3e%3c/svg%3e");
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 1px;
}




span.info {
    display: inline-block;
    width: 14px;
    position: relative;
    width: 20px;
}

.info blurb,
blurb {
    visibility: hidden;
    width: 450px;
    background-color: rgb(85 85 85 / 96%);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 155%;
    left: 70%;
    margin-left: -440px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 100;
    text-shadow: none;
    box-shadow: 2px 2px 30px rgb(85 85 85 / 90%);
}

/* Tooltip arrow */
.info blurb::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(85 85 85 / 87%) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.info:hover blurb {
    visibility: visible;
    opacity: 1;
    color: white;
    text-shadow: none;
    z-index: 99999999999;
}


.accordion-button:not(.collapsed) {
    background-color: darkred;
}